footer {
    .container {
        border-top: 1px solid #ddd;
        max-width: 100%;
        color: #757981;
        font-size: 13px;
        .info {
            line-height: 1.7;
        }
    }
    img {
        width: auto;
    }
}
