header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    background: #fff;
    .logo {
        width: 97px;
    }
    .util {
        margin-left: auto;
        margin-right: 0;
        a,
        button {
            width: 80px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            border-radius: 5px;
            display: inline-block;
            transition: 0.3s;
        }
        .login_btn {
            color: rgb(126, 126, 126);
            margin-right: 10px;
            &:hover {
                background-color: rgb(241, 244, 255);
            }
        }
        .sign_btn,
        .logout_btn {
            background-color: rgb(53, 98, 228);
            color: #fff;
        }
        .user {
            margin-right: 20px;
            .mypage_btn {
                color: rgb(53, 52, 52);
                height: auto;
                width: auto;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            a {
                font-size: 16px;
            }
            p {
                font-size: 14px;
                display: inline-block;
            }
        }
        .gnb_btn {
            display: none;
        }
    }
    .gnb {
        margin-left: 70px;
        a {
            font-weight: 600;
            margin-right: 35px;
        }
        .logout_btn {
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: clamp(20px, 4vw, 30px) 0;

        .logo {
            width: clamp(100px, 17.33vw, 130px);
        }
        .util {
            a,
            button {
                font-size: clamp(14px, 2.4vw, 18px);
                width: clamp(65px, 13.33vw, 100px);
                height: clamp(35px, 6vw, 45px);
                line-height: clamp(35px, 6vw, 45px);
            }
            .logout_btn {
                display: none;
            }
            .user {
                margin-right: 0;
                // margin-right: clamp(10px, 4vw, 30px);
                p {
                    font-size: clamp(14px, 2.27vw, 17px);
                }
                a {
                    font-size: clamp(16px, 2.8vw, 21px);
                }
            }
            .gnb_btn {
                display: none;
                // display: block;
                width: clamp(30px, 6vw, 45px);
                height: clamp(16px, 3.07vw, 23px);
                position: relative;
                z-index: 101;
                .line,
                &::after,
                &::before {
                    position: absolute;
                    height: clamp(4px, 0.67vw, 5px);
                    background: #ddd;
                    border-radius: 5px;
                    left: 0;
                    transition: 0.4s;
                }
                .line {
                    display: none;
                    width: 60%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after,
                &::before {
                    content: '';
                    width: 100%;
                }
                &::after {
                    width: 100%;
                    top: 0;
                }
                &::before {
                    width: 70%;
                    bottom: 0;
                }
                &:hover {
                    .line,
                    &::after,
                    &::before {
                        background-color: #226ce0;
                        width: 100%;
                    }
                }
            }
        }
        .gnb {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 400px;
            height: 100vh;
            background-color: #fff;
            z-index: 100;
            padding: 100px 4%;
            border-left: 1px solid #226ce0;
            .links {
                flex-wrap: wrap;
                a {
                    width: 100%;
                    font-size: 30px;
                    padding: 20px 0;
                }
            }
            .logout_btn {
                display: block;
                position: absolute;
                bottom: 10px;
                right: 4%;
                font-size: 18px;
                font-weight: 700;
                color: #bbb;
                transition: 0.4s;
                &:hover {
                    color: #226ce0;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .header {
    }
}
