header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    background: #fff;
    .wrapper {
        padding: 0 20px;
    }
    .logo {
        width: 100px;
    }
    .util {
        margin-left: auto;
        margin-right: 0;
        a,
        button {
            width: 80px;
            height: 37px;
            line-height: 37px;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            border-radius: 5px;
            display: inline-block;
            transition: 0.3s;
        }
        .login_btn {
            color: #7e7e7e;
            margin-right: 10px;
            &:hover {
                background-color: rgb(241, 244, 255);
            }
        }
        .sign_btn {
            background-color: #3562e4;
            color: #fff;
        }

        .user,
        .alarm,
        .logout_btn {
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin-right: 10px;
            border-radius: 100%;
            // filter: sepia(61%);
            filter: grayscale(0.5);
            svg {
                transition: 0.4s;
            }
            &:hover {
                filter: sepia(0);
            }
        }
        .user {
            font-size: 18px;
            background: #226ce0;
            color: #fff;
            margin-right: 0;
        }
        .alarm,
        .logout_btn {
            background: #e3e5ec;
        }
    }
    .gnb {
        margin-left: 70px;
        a {
            font-weight: 600;
            margin-right: 35px;
        }
        .logout_btn {
            display: none;
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: clamp(15px, 4vw, 30px) 0;
        .wrapper {
            padding: 0 3vw;
        }
        .logo {
            width: clamp(100px, 17.33vw, 130px);
        }
        .util {
            a,
            button {
                font-size: clamp(14px, 2.4vw, 18px);
                width: clamp(65px, 13.33vw, 100px);
                height: clamp(35px, 6vw, 45px);
                line-height: clamp(35px, 6vw, 45px);
            }

            .user,
            .alarm,
            .logout_btn {
                width: clamp(30px, 6.67vw, 50px);
                height: clamp(30px, 6.67vw, 50px);
                line-height: clamp(30px, 6.67vw, 50px);
            }
            .user {
                font-size: clamp(18px, 3.33vw, 25px);
            }
            .alarm,
            .logout_btn {
                // display: none;
            }
        }
        .gnb {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 400px;
            height: 100vh;
            background-color: #fff;
            z-index: 100;
            padding: 100px 4%;
            border-left: 1px solid #226ce0;
            .links {
                flex-wrap: wrap;
                a {
                    width: 100%;
                    font-size: 30px;
                    padding: 20px 0;
                }
            }
            .logout_btn {
                display: block;
                position: absolute;
                bottom: 10px;
                right: 4%;
                font-size: 18px;
                font-weight: 700;
                color: #bbb;
                transition: 0.4s;
                &:hover {
                    color: #226ce0;
                }
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .header {
    }
}
